# hector output files
# We'll track hector input files to version control the vars for fetchvars_all
output/

# Various output .csv files
scripts/**/*.csv

# All png's
*.png

# Input for updated radiative forcing equation tests
scripts/update-rf/input/